<!-- <div id="billboard">
	<h1 class="header"> Spirit Dog </h1>
	<h4 class="subheader"> Let the Spirit Dog be your guide.</h4>
	<button id="begin">Let's Begin</button>
</div> -->

<button id="reset">Reset</button>
<div ng-controller="DogController as main">
	
	<div class="svg">
	</div>

</div>
