html, body {
	height:100%;
	margin:0;
	padding:0;
}

/* all full screen Divs */
.fullscreen {
	margin-top:-32px;
	min-height: 100%;
  min-width: 1024px;
}

/* full screen Divs */
#title-card {
	background: url(http://img.pandawhale.com/post-57290-most-majestic-dog-photo-meme-I-5VSE.jpeg) no-repeat center center;
	background-size: cover;
}

#lifestyle{
	background-color: #CD853F;
}

#living-situation{
	background-color: #FFE4B5;
}

.selection-icon {
	background-color: #2F4F4F;
	border: 5px solid #FAF0E6;
	text-align: center;
	color: #FAF0E6;
	cursor: pointer;
}

/* d3 axis lines */
.axis path, .axis line {
  fill: none;
  stroke: #fff;
}

/* dog nodes */
.dog-circle {
	cursor:pointer;
}

/* x-out on dog svg rect */
.close-out {
	cursor:pointer;
}


.dog-graph {
	display:block;
	border: 1px solid grey;
	margin: 0 auto;
	background-color: "navajowhite";
}